<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>SEONOH - 개발 노트 | 기술 정리 & 면접 준비</title>
<meta
  name="description"
  content="매일매일 새롭게 배운 기술과 면접 노하우를 기록하는 개발자 성장 공간"
/>

<link
  rel="icon"
  type="image/png"
  href="images/favicon-96x96.png"
  sizes="96x96"
/>
<link rel="icon" type="image/svg+xml" href="images/favicon.svg" />
<link rel="shortcut icon" href="images/favicon.ico" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="images/apple-touch-icon.png"
/>
