<!-- views/search.ejs -->
<h2>­ЪћЇ "<%= keyword %>" Ж▓ђВЃЅ Ж▓░Ж│╝</h2>

<% if (posts.length === 0) { %>
<p>Ж▓ђВЃЅ Ж▓░Ж│╝Ж░ђ ВЌєВіхвІѕвІц.</p>
<% } else { %>
<ul>
  <% posts.forEach(post => { %>
  <li>
    <a href="/post/<%= post._id %>"><%= post.title %></a>
  </li>
  <% }) %>
</ul>
<% } %>
